---
import Layout from "../../layouts/Layout.astro";
import NamePickerTool from "../../components/tools/NamePickerTool.svelte";
---

<Layout title="Name Picker" currentPath="/party/name-picker">
  <span slot="navbar-title">Name Picker</span>
  <NamePickerTool client:load />
</Layout>
