---
import Layout from "../../layouts/Layout.astro";
import HtmlEncoderTool from "../../components/tools/HtmlEncoderTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/codecs/html");
---

<Layout navbarTitle="HTML Encoder & Decoder" title="HTML Encoder & Decoder - HTML Entity Tool" description={tool?.description} keywords={tool?.keywords} currentPath="/codecs/html">
  <h1 class="sr-only">HTML Encoder & Decoder</h1>
  <HtmlEncoderTool client:load />
</Layout>
