---
import Layout from "../../layouts/Layout.astro";
import JwtTool from "../../components/tools/JwtTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/codecs/jwt");
---

<Layout navbarTitle="JWT Decoder & Encoder" title="JWT Decoder & Encoder - JSON Web Token Tool" description={tool?.description} keywords={tool?.keywords} currentPath="/codecs/jwt">
  <h1 class="sr-only">JWT Decoder & Encoder</h1>
  <JwtTool client:load />
</Layout>
