---
import Layout from "../../layouts/Layout.astro";
import LuhnTool from "../../components/tools/LuhnTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/codecs/luhn");
---

<Layout navbarTitle="Luhn Validator" title="Luhn Validator - Credit Card Number Checker" description={tool?.description} keywords={tool?.keywords} currentPath="/codecs/luhn">
  <h1 class="sr-only">Luhn Validator</h1>
  <LuhnTool client:load />
</Layout>
