---
import Layout from "../../layouts/Layout.astro";
import LuhnTool from "../../components/tools/LuhnTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/codecs/luhn");
---

<Layout title="Luhn Validator - Credit Card Number Checker" description={tool?.description} keywords={tool?.keywords} currentPath="/codecs/luhn">
  <h1 slot="navbar-title">Luhn Validator</h1>
  <LuhnTool client:load />
</Layout>
