---
import Layout from "../../layouts/Layout.astro";
import TextDiffTool from "../../components/tools/TextDiffTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/text/diff");
---

<Layout title="Online Text Diff Tool - Compare Text Files" description={tool?.description} keywords={tool?.keywords} currentPath="/text/diff">
  <h1 class="sr-only">Text Diff Tool</h1>
  <TextDiffTool client:load />
</Layout>
