---
import Layout from "../../layouts/Layout.astro";
import RegexTool from "../../components/tools/RegexTool.svelte";
---

<Layout title="Regex Tester" currentPath="/text/regex">
  <h1 slot="navbar-title">Regex Tester</h1>
  <RegexTool client:load />
</Layout>
