---
import Layout from "../../layouts/Layout.astro";
import DataConverterTool from "../../components/tools/DataConverterTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/converter/data");
---

<Layout navbarTitle="Data Format Converter" title="Data Format Converter - JSON, YAML, TOML, TOON" description={tool?.description} keywords={tool?.keywords} currentPath="/converter/data">
  <h1 class="sr-only">Data Format Converter</h1>
  <DataConverterTool client:load />
</Layout>
