---
import Layout from "../../layouts/Layout.astro";
import JulianTool from "../../components/tools/JulianTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/converter/julian");
---

<Layout title="Julian Date Converter - Calendar Date Tool" description={tool?.description} keywords={tool?.keywords} currentPath="/converter/julian">
  <span slot="navbar-title">Julian Date Converter</span>
  <h1 class="sr-only">Julian Date Converter</h1>
  <JulianTool client:load />
</Layout>
