---
import Layout from "../../layouts/Layout.astro";
import BarcodeTool from "../../components/tools/BarcodeTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/generators/barcode");
---

<Layout navbarTitle="Barcode & QR Code Generator" title="Barcode & QR Code Generator - WiFi QR Tool" description={tool?.description} keywords={tool?.keywords} currentPath="/generators/barcode">
  <h1 class="sr-only">Barcode & QR Code Generator</h1>
  <BarcodeTool client:load />
</Layout>
