---
import Layout from "../../layouts/Layout.astro";
import HashTool from "../../components/tools/HashTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/generators/hash");
---

<Layout navbarTitle="Hash Generator" title="Hash Generator - MD5, SHA-1, SHA-256, SHA-512" description={tool?.description} keywords={tool?.keywords} currentPath="/generators/hash">
  <h1 class="sr-only">Hash Generator</h1>
  <HashTool client:load />
</Layout>
