---
import Layout from "../../layouts/Layout.astro";
import IdGeneratorTool from "../../components/tools/IdGeneratorTool.svelte";
import { getToolByPath } from "../../data/tools";

const tool = getToolByPath("/generators/id");
---

<Layout title="UUID & ULID Generator - Unique ID Creator" description={tool?.description} keywords={tool?.keywords} currentPath="/generators/id">
  <span slot="navbar-title">UUID & ULID Generator</span>
  <h1 class="sr-only">UUID & ULID Generator</h1>
  <IdGeneratorTool client:load />
</Layout>
